{{#if ad}}
    <h1>Title: {{ad.title}}</h1>
    <h2>Description:{{ad.description}}</h2>
    <h2>Date: {{ad.date.day}}/{{ad.date.month}}/{{ad.date.year}}</h2>
{{/if}}
<form action="/"><button>Init</button></form>